@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.webgl-content{
	position: absolute;
	bottom: 0;
 
}

.top {
  width: 1275px;
  background-color: #0F1522;
  position: absolute;
  top: 0;
  height: calc(100vh - 720px);
}

.right {
  position: absolute;
  background-color: #0F1522;
  right: 0;
  height: 100%;
  width: calc(100vw - 1275px);
  overflow: scroll;
}

.rocket {
  position: absolute;
  height: 200%;
  right: -160px;
}