@font-face {
    font-family: 'BrandonReg';
        src: url('../assets/font/Brandon_reg.otf') format('truetype');

    font-family: 'brandonLight';
        src: url('../assets/font/Brandon_light.otf') format('truetype');
  }


/********************** BACKGROUND ***********************/


.test {
    background-color: #010309;
    width: 100%;
    height: 100%;
}